/* Font Styles */
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100%;
}

/* Shared Utility Styles */

body {
    margin: 0 auto;
}

.text-primary {
    color: #FD6E0A;
}

.dark-2 {
    color: #474747;
}

.btn-primary {
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
}

/* header styles */
.header {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* Navigation Styles */
nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
}

nav ul {
    align-items: center;
    display: flex;
}

nav ul li {
    list-style: none;
    margin-right: 51px;
}

nav ul li a {
    font-size: 20px;
    text-decoration: none;
}

/* Banner Styles */

.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px
}

.banner-content {
    width: 585px;
}

.banner-greetings {
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    font-size: 85px;
    font-weight: bold;
}

.banner-profile-pic {
    width: 580px;
}